html,body{
    width: 100vw;
    height: 100vh;

}

::-webkit-scrollbar {
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    padding: 8%;
    row-gap: 4vh;
}
input:focus::placeholder,
textarea:focus::placeholder{
    color:transparent;
}
.bx-chevron-left{
    cursor: pointer;
}
.create-group-container{
    display: flex;
    column-gap: 5vw;
    margin: 5.5vw 0 2vw 0;
}
.create-text,
.bx-chevron-left{
    font-size: 1.2rem;
}
.group-information-container{
    display: flex;
    flex-direction: column;
    row-gap: 1.8vh;
}
.group-name{
    height: 5vh;
    padding-left: 1.5vh;
}
.group-description{
    height: 10vh;
    padding: 1.5vh;
    resize: none;
}
input::placeholder,
textarea::placeholder
{
    color: var(--gray-400);
}
input,
textarea,
select{
    border: 1px solid var(--gray-300);
    font-size: 0.9rem;
    border-radius: 5px;
    outline: none;
    height: 5vh;
    padding: 1.5vh;
}
.select-search-container{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.sub-text{
    font-size: 0.8rem;
    margin-top: 1vw;
    color: var(--gray-400);
}
.group-goal-container{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}
.setting-text{
    font-size: 1.1rem;
}
.goal-name-box{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.goal-name{
    /* border: 0 0 var(--gray-300) 0; */
    border: none;
    border-radius: 0;
    border-bottom: var(--gray-400) 1px solid;
    height: 5vh;
    padding: 0.5vh;
    width: 100%;
    font-size: 1rem;
}
.amount-container{
    display: flex;
    justify-content: space-between;
}
.amount-setting{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1vh;
}
.amount{
    width: 100%;
    padding: 0 0 0 1.5vh;
    cursor: pointer;
}
.initial-amount{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;    
    width: 50%;
}
.initial-box{
    display: flex;
    column-gap: 6%;
    align-items: center;
}
.input-amount{
    width: 100%;
}
.up-down-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.up,
.down{
    border: var(--gray-400) 1px solid;
    border-radius: 2px;
    background-color: transparent;
    color: var(--gray-400);
    margin: 0;
    width: 2vh;
    cursor: pointer;
}
.create-btn{
    height: 55px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    margin: 3vh 0 7vh 0 ;
    cursor: pointer;
}
/* switch */
fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
[type="checkbox"] {
    appearance: none;
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 18vw;
    height: 4.3vh;
    
    cursor: pointer;
}
[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 9vw;
    height: 4vh;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: var(--primary-color);
    transition: left 250ms linear;
}
[type="checkbox"]:checked {
    background-color: var(--primary-color);
}
[type="checkbox"]:checked::before {
    background-color: var(--white);
    left: 2.2rem;
}
.selected-date {
    background-color: white;
    border-radius: 20px;
}