main {
    display: flex;
    flex-direction: column;
    padding: 8%;
    height: 100vh;
    justify-content: space-between;
}
p{
    color: var(--gray-500);
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.1rem;
    font-weight: 100;
}
.create-group-container {
    display: flex;
    column-gap: 5vw;
    margin: 5.5vw 0 2vw 0;
}
.create-text, 
.bx-chevron-left {
    font-size: 1.2rem;
    color: var(--black);
}

.bx-chevron-left {
    cursor: pointer;
}
.group-info{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    margin-top: 5vh;
    padding: 1vh;
}
.group-name-contanier,
.group-explanation-container,
.group-goal-container,
.group-member-container{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.join-btn {
    height: 55px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    margin: 3vh 0 7vh 0;
    cursor: pointer;
}