html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
.input-container{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding-top: 20px;
    background-color: var(--white);
    z-index: 10;
}
input:focus::placeholder{
    color:transparent;
}
input::placeholder{
    color: var(--gray-300);
}
.bx-plus{
    font-size: 1.5rem;
    color: var(--gray-300);
    cursor: pointer;
    margin-right: 20px;
}
.search{
    width: 100%;
    height: 5.5vh;
    padding: 15px;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.input-box{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    height: 6vh;
    border: var(--gray-300) 1px solid;
    width: 80%;
    transition: all 0.5s ease;
}
.search-icon{
    padding-right: 5%;
    color: var(--gray-400);
}
.join-group{
    margin: 15vh 0 0 5%;
    font-size: 1.2rem;
    font-weight: lighter;
}
h1{
    margin: 2% 0;
    font-size: 1.3rem;
}
input{
    outline: none;
}
.goal-container{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    margin-top: 20px;
    margin-bottom: 8vh;
}
.goal-box{
    margin-left: 7%;
}
.scroll-group-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-x: scroll;
    padding: 20px;
    align-items: center;
    height: 50vw;
    transition: all 0.5s ease;
}
.group-container{
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: fit-content !important;
}
::-webkit-scrollbar {
    display: none;
}
.group-box{
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    width: 35vw;
    height: 35vw;
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* margin-right: 2vh; */
}
.group-box:last-child{
    margin: 0;
}
.group-member{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 17px;
    column-gap: 7px;
}
.group-name,
.num,
.bx-user{
    color: var(--primary-color);
}
.good-user{
    display: flex;
    column-gap: 2%;
}
p{
    color: var(--gray-400);
}
.record-box{
    margin-top: 3%;
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.unit-box{
    width: 25%;
    height: 38px;
    outline: none;
    border-radius: 5px;
    border: solid var(--gray-400) 1px;
    padding-left: 3%;
}
.unit{
    font-size: 1.3rem;
    color: var(--black);
}
.check-container{
    display: flex;
    margin-left: 7%;
    column-gap: 3%;
    align-items: center;
}
.check-text{
    color: var(--black);
}
input#check{
    display: none;
}
input#check + label{
    cursor: pointer;
}
input#check + label::before{
    content: "";
    display: inline-block;
    width: 6vw;
    height: 6.5vw;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
    vertical-align: middle;
}
input#check:checked + label:before{
    content:"\2713";
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color:var(--primary-color);
    border-color:var(--primary-color);
    }
.registration-btn{
    height: 55px;
    margin: 0 7% 7% 7%;
    background-color: var(--primary-color);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.group-box.selected-group {
    background-color: var(--primary-color);
    width: 40vw;
    height: 40vw;
    transition: all 0.3s ease;
}
.group-box.selected-group .group-name, 
.group-box.selected-group .num, 
.group-box.selected-group .bx-user {
    color: var(--white); /* 바꿀 텍스트 색상 */
}

.centered {
    /* 가운데 정렬을 위한 스타일 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-window{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 12vh;
}
.search-background{
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.361); */
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.search-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    width: 100vw;
    row-gap: 2vh;
}
.search-result{
    position: relative;
    margin: 0px 5%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--second-color);
    border-radius: 10px;
    padding: 3vh;
}
.result-group-goal-container{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.result-group-name{
    font-size: 1.1rem;
    font-weight: bolder;
    color: var(--primary-color);
}
.result-group-goal{
    color: var(--primary-color);
    font-size: 0.9rem;
}
.search-result:last-child{
    margin-bottom: 5%;
}
.search-result:first-child{
    margin-top: 4%;
}
.input-box.active{
    width: 100%;
    transition: all 0.5s ease;
}