html,
body{
    width: 100%;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    padding: 8%;
    height: 100vh;
    justify-content: space-between;
}
.create-group-container {
    display: flex;
    column-gap: 5vw;
    margin: 5.5vw 0 2vw 0;
}
.create-text, 
.bx-chevron-left {
    font-size: 1.2rem;
    color: var(--black);
}

.bx-chevron-left {
    cursor: pointer;
}
.group-management-container{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin-top: 4vh;
}
.my-group{
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--second-color);
    border-radius: 10px;
    padding: 3vh;
}
.my-group-goal-container{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.my-group-name{
    font-size: 1.1rem;
    font-weight: bolder;
    color: var(--primary-color);
}
.my-group-goal{
    color: var(--primary-color);
    font-size: 0.9rem;
}
.group-member {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 17px;
    column-gap: 7px;
}
.group-name, .num, .bx-user {
    color: var(--primary-color);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal-content {
    background-color: white;
    /* padding: 20px; */
    border-radius: 5px;
    width: 65vw;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.delete-question{
    display: flex;
    padding: 4vh 3vh;
    text-align: center;
    justify-content: center;

}
.delete-container{
    display: flex;
}
.yes,
.no{
    width: 35vw;
    padding: 1.5vh;
    text-align: center;
}
.yes{
    color: red;
    font-weight: bold;
}
.row{
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--gray-300);
}
.column{
    width: 1px;
    height: 5.3vh;
    border: 0;
    background-color: var(--gray-300);
}